h1
{
  margin-top: 30px;
  text-align: center;
  font-family: Comic Sans MS, Comic Sans, cursive;
}
.col-md-4
{
  margin-top: 50px;
  font-family: Bradley Hand, cursive; 
}
.row
{
  padding-left: 15px; 
  padding-right: 15px;
  margin: 40px;
}
.detail
{
  font-size: 30px;
  border: 1px solid black;
  width: 200px;
}
/* for desktops */
@media (min-width: 992px)
{

}
/* for tablets */
@media (min-width: 768px) and (max-width: 991px)
{

}
/* for mobiles */
@media (max-width: 767px)
{
  .col-md-4
  {
    width: 90%;
    margin-bottom: 10px;
  }
}
